# Python related byte-compiled/ cache, logs
__pycache__/
*.py[cod]

# Databse
*/*.sqlite3


# Django
*.log
*.pot
*.pyc

# my vs code settings
.vscode/

# environment related
# Environment
.venv/
*.env

# runtime files
*/runtime_files

# static files
*/staticfiles

#source control
.git
.gitignore