{% extends 'base.html' %}

{% load static %}
{% block title %}Dashboard | CodeCosmic{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'core/css/dashboard.css' %}">
<section class="dashboard-section">
    <h1 class="dashboard-heading">Welcome to Mission Control, {{ user.username }} 🛰️</h1>
    <p class="dashboard-subtext">
        All systems are green. You're cleared for launch. Here's your current status report:
    </p>

    <div class="dashboard-stats">
        <div class="stat-card">
            <h3>Missions Completed</h3>
            <p>{{ user_ext.problems_solved }}</p>
        </div>
        <div class="stat-card">
            <h3>Cosmic Rank</h3>
            <p>#{{ user_ext.rank }}</p>
        </div>
    </div>
</section>


{% endblock %}