{% extends 'base.html' %}
{% load static %}

{% block title %}{{ user.username }} | AstroCoder Log{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'core/css/profile.css' %}">

<section class="profile-container">
    <h1 class="profile-heading">🧑‍🚀 AstroCoder Log</h1>

    <div class="profile-card username-card">
        <span class="username">Cosmic ID: {{ user.username }}</span>
        <span class="email">email: {{ user.email }}</span>
    </div>

    <div class="profile-card full-card">
        <span class="label">Base Station</span>
        <span class="value">{{ user_ext.college|default:"Unknown Galaxy" }}</span>
    </div>

    <div class="stat-row">
        <div class="profile-card stat-box">
            <span class="label">Missions Completed</span>
            <span class="value">{{ user_ext.problems_solved }}</span>
        </div>
        <div class="profile-card stat-box">
            <span class="label">Cosmic Rank</span>
            <span class="value">#{{ user_ext.rank }}</span>
        </div>
    </div>
    <div class="profile-card full-card">
        <span class="label">Joined on</span>
        <span class="value">{{ user.date_joined|date:"d M Y, H:i" }}</span>
    </div>

    <div class="profile-card full-card">
        <span class="label">Last Signal Received</span>
        <span class="value">{{ user.last_login|date:"d M Y, H:i" }}</span>
    </div>

</section>
{% endblock %}