{% extends 'base.html' %}
{% load static %}

{% block title %}Mission Log #{{ submission.id }} | CodeCosmic{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'problems/css/submission.css' %}">
<h1 class="page-heading">Mission Log #{{ submission.id }}</h1>

<div class="full-width-wrapper">

    <div class="submission-grid">
        <div class="submission-info">
            <p><strong>🛰 Mission:</strong> {{ submission.problem.title }}</p><br>
            <p><strong>🪖 Commander:</strong> {{ submission.user.user.username }}</p><br>
            <p><strong>🔤 Language:</strong> {{ submission.lang }}</p><br>
            <p>
                <strong>📡 Status:</strong>
                <span class="verdict {{ submission.verdict|lower|slugify }}">
                    {{ submission.verdict }}
                </span>
            </p><br>
            <p><strong>🚀 Launch Time:</strong> {{ submission.created_at|date:"d M Y, H:i" }}</p>
        </div>

        <div class="code-section">
            <h2>📄 Code Transmission</h2>
            <pre><code>{{ code }}</code></pre>
        </div>
    </div>
</div>
{% endblock %}